{% if user.is_authenticated %}
<section class="tags">
	<p class="tags__titulo">Busque por tags:</p>
	<ul class="tags__lista">
		<li class="tags__tag">
			<a class="imagem__texto" href="{% url 'buscartag' 'NEBULOSA'%}">Nebulosa</a>
		</li>
		<li class="tags__tag">
			<a class="imagem__texto" href="{% url 'buscartag' 'ESTRELA'%}">Estrela</a>
		</li>
		<li class="tags__tag">
			<a class="imagem__texto" href="{% url 'buscartag' 'GALÁXIA'%}">Galáxia</a>
		</li>
		<li class="tags__tag">
			<a class="imagem__texto" href="{% url 'buscartag' 'PLANETA'%}">Planeta</a>
		</li>
	</ul>
</section>
{% endif %}
